@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto.ttf");
}

@mixin shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  @include shadow;

  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.title {
  height: 24px;
  padding: 0 16px;
  flex-grow: 1;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  
  color: rgba(0, 0, 0, 0.87);
}

.main {
  padding: 80px 30px;
  display: grid;
  grid-template-columns: 228px 512px 228px;
  grid-template-areas:
    "tool canvas picture"
    "color canvas ."
    ;
  grid-row-gap: 90px;
  justify-content: space-between;
}

.palette {
  @include shadow;

  list-style: none;
  width: 228px;
  height: 246px;
  background: #FFFFFF;

  &.tool {
    grid-area: tool;
  }
        
  &.color {
    grid-area: color;
  }
        
  &.picture {
    grid-area: picture;
  }
}

.canvas {
  grid-area: canvas;
}

.item {
  height: 48px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.text {
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
}

.divider {
  height: 16px;

  .line {
    height: 1px;
    margin-top: 8px;
    background: rgba(0, 0, 0, 0.12);
  }
}

.icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;

  &.hamburger {
    background-image: url("assets/images/hamburger.svg");
  }

  &.kabobs {
    width: 12px;
    background-image: url("assets/images/kabobs.svg");
  }

  &.bucket {
    background-image: url("assets/images/bucket.svg");
  }

  &.picker {
    background-image: url("assets/images/picker.svg");
  }

  &.move {
    background-image: url("assets/images/move.svg");
  }

  &.transform {
    background-image: url("assets/images/transform.svg");
  }
}

.circle {
  width: 20px;
  height: 20px;
  margin: 2px;
  border: 1px solid #000000;
  border-radius: 50%;

  &.gray {
    background: #C4C4C4;
  }
  
  &.green {
    background: #41F795;
  }
  
  &.red {
    background: #F74141;
  }
  
  &.blue {
    background: #41B6F7;
  }
}
